:root{
     --mainColor: #e7e7e7;
     --secondaryColor: #fff;

     --borderColor:#757575;

     --mainText: black;
     --secondaryText: #4b5156;

     --themeDotBorder:#24292e;

     --previewBg: #f1f1f1;
     --previewShadow: #c2c2c2;
}

html,body {
     padding:0;
     margin:0;
}
h1 {
     color: var(--mainText);
     /* font-family: 'Russo One', sans-serif; */
     /* font-weight: normal; */
     font-family: 'Raleway', sans-serif;
     font-stretch: expanded;
}
h2,h3,h4,h5,h6,strong {
     color: var(--mainText);
     /* font-family: 'Russo One', sans-serif; */
     font-family: 'Raleway', sans-serif;
     font-stretch: expanded;
}

p,li,span,label,input,textarea {
     color: var(--secondaryText);
     /* font-family: 'Fira Code', monospace;
      */
      font-family: 'Raleway', sans-serif;
      font-stretch: expanded;
     font-weight: bold;

}
.greeting-wrapper h1 {
     font-weight: bold;
     /* text-decoration: underline; */
}


.s1{
     background-color: var(--mainColor);
     border-bottom:1px solid var(--borderColor);
     overflow: auto;
}

.s2{
     background-color: var(--secondaryColor);
     border-bottom: 1px solid var(--borderColor);
     overflow: auto;

}
a{
     text-decoration: none;
     color: #000000;
     font-weight: bold;
}
p {
     line-height: 2rem;
}
ul {
     list-style: none;
}
h1 {
     font-size: 70px;
}
h2 {
     font-size: 36px;
}
h3 {
     font-size: 28px;
}
h4 {
     font-size: 24px;
}
h5 {
     font-size: 20px;
}
h6 { 
     font-size: 16px;}
.main-container {
     width: 1200px;
     margin: 0 auto;
}
.small-text-2 {
     padding-bottom: 0px;
     margin-bottom: 0px;
     text-decoration: none;
}
.small-text {
     padding-top: 0;
     margin-top: 0;
     text-decoration: none;
     

}
.greeting-wrapper {
     display: grid;
     
     min-height: 17em;
     justify-content: center;
     align-content: center;
     text-align: center;
}
.intro-wrapper {
     background-color: var(--secondaryColor);
     border: 1px solid var(--borderColor);

     -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
     box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

     /* box-shadow: -27px -14px 29px 20px rgba(230,230,230,1);
     -webkit-box-shadow: -27px -14px 29px 20px rgba(230,230,230,1);
     -moz-box-shadow: -27px -14px 29px 20px rgba(230,230,230,1); */
     border-radius: 10px 10px 0 0;



     display: grid;
     grid-template-columns: 1fr 1fr ;
     grid-template-rows: 3em 30em;
     grid-template-areas: 
          "nav-wrapper nav-wrapper"
          "left-colum right-colum"
     ;
}

.nav-wrapper {
     border-radius: 10px 10px 0 0;


     grid-area: nav-wrapper;
     border-bottom: 1px solid var(--borderColor);
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: var(--mainColor);

}

#navigation {
     margin: 0;
     padding: 10px;

}
#navigation li {
     display: inline-block;
     margin-right: 5px; 
     margin-left: 5px;
}

.dots-wrapper {
display: flex;
padding: 10px;
}

#dot-1 {
     background-color: #4b0400;
}

#dot-2 {
     background-color: #665f00;
}

#dot-3 {
     background-color: #004e1a;
}


.browser-dot {
     background-color: black;
     height: 15px;
     width: 15px;
     border-radius: 50%;
     margin: 5px;

     --webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
     --moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
     box-shadow: -1px -1px 3px -1px rgba(0,0,0,0.75);
}

.left-colum {
     grid-area: left-colum;
     padding-top: 50px;
     padding-bottom: 50px;
     

}
img { 
     filter: grayscale(40%);  
}
#profile-image {
     display: block;
     margin: 0 auto;
     height: 200px;
     width: 200px;
     object-fit: cover;
     border: 5px solid rgb(255, 255, 255);
     border-radius: 50%;
     margin-top: 2em;
}

.theme-options-wrapper {
     display: flex;
     justify-content: center;
}

.theme-dot {
     height: 30px;
     width: 30px;
     background-color: rgb(0, 0, 0);
     border-radius: 50%;
     margin: 5px;
     border: 1px solid var(--themeDotBorder);

     --webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
     --moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
     box-shadow: -1px -1px 3px -1px rgba(0,0,0,0.75);

     cursor: pointer;
}

.theme-dot:hover {
     border-width: 5px;
}

#light-mode {
     background-color: rgb(255, 255, 255);
}

#blue-mode {
     background-color: #003669;
}
#green-mode {
     background-color: #377200;
}

#purple-mode {
     background-color:#61004e;
}

#settings-note{
     font-size: 11px;
     font-style: italic;
     text-align: center;

}

.right-colum {
     grid-area: right-colum;
     display: grid;
     align-content: center;

     padding-top: 50px;
     padding-bottom: 50px;

}

#preview-shadow {
background-color: var(--previewShadow);
width: 300px;
height: 190px;
padding-left: 30px;
padding-top: 25px;
border-radius: 2%;

}


.preview {
     width: 300px;
     border: 1px solid #000000 ;
     background-color: var(--previewBg);
     padding: 15px;
     border-radius: 2%;
     position: relative;
}

/* .corner {
     width: 7px;
     height: 7px;
     border-radius: 50%;
     background-color: rgb(58, 58, 58);
     position: absolute;
} */
/* 
#corner-tl {
     top: -5px;
     left: -5px;
}

#corner-tr {
     top: -5px;
     right: -5px;
}

#corner-br {
     bottom: -5px;
     right: -5px;
}

#corner-bl {
     bottom: -5px;
     left: -5px;
} */

@media screen and (max-width: 1200px) {
     .main-container {
          width: 95%;
     }
     
}

@media screen and (max-width: 800px) {
     .intro-wrapper {

          grid-template-columns: 1fr ;
          grid-template-areas: 
               "nav-wrapper "
               "left-colum "
               "right-colum"
          ;
     }

     .right-colum {
          justify-content: center;

     }
}
     
