:root{
     --mainColor: #ececec;
     --secondaryColor: #fff;

     --borderColor:#757575;

     --mainText: black;
     --secondaryText: #4b5156;

     --themeDotBorder:#24292e;

     --previewBg: #f1f1f1;
     --previewShadow: #c2c2c2;

     --buttonColor: black;
}

html,body {
     padding:0;
     margin:0;
     font-family: 'Raleway', sans-serif;
     font-stretch: expanded;
}
h1 {
     color: var(--mainText);
     /* font-family: 'Russo One', sans-serif; */
     /* font-weight: normal; */
     font-family: 'Raleway', sans-serif;
     font-stretch: expanded;
}
h2,h3,h4,h5,h6,strong {
     color: var(--mainText);
     /* font-family: 'Russo One', sans-serif; */
     font-family: 'Raleway', sans-serif;
     font-stretch: expanded;
}

p,li,span,label,input,textarea {
     color: var(--secondaryText);
     /* font-family: 'Fira Code', monospace;
      */
      font-family: 'Raleway', sans-serif;
      font-stretch: expanded;
     font-weight: bold;

}
.greeting-wrapper h1 {
     /* font-weight: bold; */
     /* text-decoration: underline; */

}
/* .greeting-wrapper h1 {
     
          animation:type 4s steps(45), step-end infinite alternate;
          overflow:hidden;
          white-space:nowrap;
         
          border-right:4.5px solid black;
          width:26ch;
          margin:3px;
        
} */
/* @keyframes type{
     0%{
       width:0ch;
     }
     100%{
       width:23ch;
     }
   }
   
   @keyframes blink{
     from{
       border-color:transparent;
     }
     to{
       border-color:black;
     }
   } */
ul {
     padding-left:0;
}
/* .greeting-wrapper-2 h1 {
     animation:type 4s steps(23), step-end infinite alternate;
     overflow:hidden;
     white-space:nowrap;
     
     border-right:5px solid black;
     width:25ch;
     margin:0;
} */

.s1{
     background-color: var(--mainColor);
     border-bottom:1px solid var(--borderColor);
     overflow: auto;
}

.s2{
     background-color: var(--secondaryColor);
     border-bottom: 1px solid var(--borderColor);
     overflow: auto;

}
a{
     text-decoration: none;
     color: #1b0091;
     font-weight: bold;
     font-family: 'Pacifico', cursive;
     border-bottom: 2px solid #1b0091;

}
p {
     line-height: 2rem;
     
}
ul {
     list-style: none;
}
h1 {
     font-size: 3em;
     font-family: 'Pacifico', cursive;
     

}
h2 {
     font-size: 36px;
     font-family: 'Pacifico', cursive;

}
h3 {
     font-size: 28px;
     font-family: 'Pacifico', cursive;

}
h4 {
     font-size: 24px;
     font-family: 'Pacifico', cursive;

}
h5 {
     font-size: 20px;
     font-family: 'Pacifico', cursive;

}
h6 { 
     font-family: 'Pacifico', cursive;

     font-size: 16px;
}
.logo-img {
     /* display: block; */
    padding-top: 10px;
     margin: 0 auto;
     /* height: 150px; */
     width: 50px;
     align-items: center;
}
.main-container {
     width: 1200px;
     margin: 0 auto;
}
.small-text-2 {
     font-family: 'Pacifico', cursive;
     padding: 0px;
     margin: 0px;
     text-decoration: none;
     font-weight: normal;
}
.small-text {
     padding-top: 0;
     margin-top: 0;
     text-decoration: none;
     

}
.second-text2 h1 {
     font-family: 'Pacifico', cursive;
     padding-bottom: 1em;
     font-weight: normal;
     margin: 0;
     text-align: center;

}
.greeting-wrapper {
     display: grid;
     padding: 0px;
     margin: 0px;
     /* min-height: em; */
     justify-content: center;
     align-content: center;
     text-align: center;
}
.small-text-2 {
     
          
          border-right: 0.15em solid;
          width: 25ch;
          white-space: nowrap;
          overflow: hidden;
          animation: typing 4s steps(50, end),
              cursor-blink 0.4s step-end infinite alternate;
      }
      
      @keyframes typing {
          from {
              width: 0;
          }
      }
      
      @keyframes cursor-blink {
          50% {
              border-color: transparent;
          }
      }

.intro-wrapper {
     background-color: var(--secondaryColor);
     border: 1px solid var(--borderColor);
/* height: 500px; */
     -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
     box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

     /* box-shadow: -27px -14px 29px 20px rgba(230,230,230,1);
     -webkit-box-shadow: -27px -14px 29px 20px rgba(230,230,230,1);
     -moz-box-shadow: -27px -14px 29px 20px rgba(230,230,230,1); */
     border-radius: 10px 10px 0 0;



     display: grid;
     grid-template-columns: 1fr 1fr ;
     grid-template-rows: 3em 30em;
     grid-template-areas: 
          "nav-wrapper nav-wrapper"
          "left-colum right-colum"
     ;
}

.nav-wrapper {
     border-radius: 10px 10px 0 0;


     grid-area: nav-wrapper;
     border-bottom: 1px solid var(--borderColor);
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: var(--mainColor);

}

#navigation {
     margin: 0;
     padding: 10px;

}
#navigation li {
     display: inline-block;
     margin-right: 5px; 
     margin-left: 5px;
}

.dots-wrapper {
display: flex;
padding: 10px;
}

#dot-1 {
     background-color: #c51309;
}

#dot-2 {
     background-color: #b4a908;
}

#dot-3 {
     background-color: #07b641;
}


.browser-dot {
     background-color: black;
     height: 15px;
     width: 15px;
     border-radius: 50%;
     margin: 5px;

     --webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
     --moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
     box-shadow: -1px -1px 3px -1px rgba(0,0,0,0.75);
}

.left-colum {
     grid-area: left-colum;
     padding-top: 50px;
     padding-bottom: 50px;
     

}
img { 
     filter: grayscale(40%);  
}
#profile-image {
     display: block;
     margin: 0 auto;
     height: 200px;
     width: 200px;
     object-fit: cover;
     border: 5px solid rgb(255, 255, 255);
     border-radius: 50%;
     margin-top: 2em;
}

.theme-options-wrapper {
     display: flex;
     justify-content: center;
}

.theme-dot {
     height: 30px;
     width: 30px;
     background-color: rgb(0, 0, 0);
     border-radius: 50%;
     margin: 5px;
     border: 1px solid var(--themeDotBorder);

     --webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
     --moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
     box-shadow: -1px -1px 3px -1px rgba(0,0,0,0.75);

     cursor: pointer;
}

.theme-dot:hover {
     border-width: 5px;
}

#light-mode {
     background-color: rgb(255, 255, 255);
}

#blue-mode {
     background-color: #003669;
}
#green-mode {
     background-color: #377200;
}

#purple-mode {
     background-color:#61004e;
}

#settings-note{
     font-size: 11px;
     font-style: italic;
     text-align: center;

}

.right-colum {
     grid-area: right-colum;
     display: grid;
     align-content: center;
     padding-top: 50px;
     padding-bottom: 50px;

}

#preview-shadow {
background-color: var(--previewShadow);
width: 300px;
height: 190px;
padding-left: 30px;
padding-top: 25px;
border-radius: 2%;

}
.about-container {
     text-align: center;
     padding-top: 50px;
}

.preview {
     width: 300px;
     border: 1px solid #000000 ;
     background-color: var(--previewBg);
     padding: 15px;
     border-radius: 2%;
     position: relative;
}
.about-wrapper {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
     padding-bottom: 50px;
     padding-top: 50px;
     gap: 50px;
}

/* .vertical-line {
     border-left: thick solid #000000;} */

/* .corner {
     width: 7px;
     height: 7px;
     border-radius: 50%;
     background-color: rgb(58, 58, 58);
     position: absolute;
} */
/* 
#corner-tl {
     top: -5px;
     left: -5px;
}

#corner-tr {
     top: -5px;
     right: -5px;
}

#corner-br {
     bottom: -5px;
     right: -5px;
}

#corner-bl {
     bottom: -5px;
     left: -5px;
} */
/* #skills {
     display: flex;
     justify-content: space-evenly;
} */

.social-links {
     /* display: grid; */
     /* align-content: center; */
     /* text-align: center; */
margin: 0 auto;
}

.post-wrapper {
     width: 100%;
}

.post-wrapper {
     display: grid;
     grid-template-columns: repeat(auto-fit, 320px);
     gap: 40px;
     justify-content: center;

}

.post {
     border: 1px solid var(--borderColor);
     border-radius: 1em;


     --webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
     --moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
     box-shadow: -1px -1px 3px -1px rgba(0,0,0,0.75);

margin-bottom:80px ;
}


.thumbnail {
     display: block;
     width: 100%;
     height: 180px;
     object-fit: cover;
     border-radius:  1em 1em 0 0;


}
.project-container {
     text-align: center;
     padding-top: 50px;
     padding-bottom: 50px;
}
.post-preview {
     background-color: #fff;
     padding: 15px;
     border-radius: 0 0 1em 1em;


}

.post-title {
     color: black;
}

#contact-form {
     display: block;
     max-width: 600px;
     margin: 0 auto;
     /* border: 1px solid var(--borderColor); */
     padding: 15px;
     /* border-radius: 5px; */
     background-color: var(--mainColor);
     margin-bottom: 50px;
     /* border-bottom:  2px solid var(--borderColor); */
     /* border: none; */


}

.input-field {
     width: 100%;
     padding-top: 10px;
     padding-bottom: 10px;
     background-color: var(--borderColor);
     border-radius: 5px;
     background-color: var(--mainColor);
     margin-bottom: 50px;
     border: none;
     border-bottom: 2px solid black;
     outline: none;
     /* border-bottom:  2px solid var(--borderColor); */

}

#submit-btn {
     margin-top: 10px;
     width: 100%;
     padding-top: 10px;
     padding-bottom: 10px;
     color: #fff;
     background-color: var(--buttonColor);
     border: none;
}






@media screen and (max-width: 1200px) {
     .main-container {
          width: 95%;
     }
     
}

@media screen and (max-width: 800px) {
     .intro-wrapper {

          grid-template-columns: 1fr ;
          grid-template-areas: 
               "nav-wrapper "
               "left-colum "
               "right-colum"
          ;
     }

     .right-colum {
          justify-content: center;

     }
}
     
